[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "base16-shell"]
	path = base16-shell
	url = https://github.com/chriskempson/base16-shell
[submodule "tmuxinator"]
	path = tmuxinator
	url = https://github.com/tmuxinator/tmuxinator
